  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% if current_user == nil %>
<div class="container">

		<div class="row">
		<h3>What is it?</h3>
		<p>Remio is a service designed to send SMS and/or voice messages to remind you of important dates and events.</p>
			<!-- Signin with <%= link_to "Google", "/auth/google_oauth2" %> to schedule a reminder! -->

		<h3>How does it work?</h3>
		<ul>
			<li>Log in with Google</li>
			<li>Create a new reminder, and set the date and time to receive it</li>
			<li>Select whether to receive an SMS and/or voice reminder</li>
			<li>Receive your reminder at selected time.  If voice was selected, you will receive a call that will read your reminder to you over the phone!</li>

		</ul>
		</div>
	</div>
<% end %>

