  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% if current_user == nil %>
<div class="container">

		<div class="row">
			<!-- Signin with <%= link_to "Google", "/auth/google_oauth2" %> to schedule a reminder! -->
		</div>
	</div>
<% end %>

