<!DOCTYPE html>
<html>
<head>
  <title>RemindMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
      <div class="jumbotron">
        <h1>RemindMe</h1>
        <p>RemindMe will send you an SMS message to remind you of important events or appointments.</p>
      </div>
      <div>
		<%= yield %>
	  </div>

</div>
</body>
</html>
